<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Form Submission Confirmation</title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 30px 0 10px;
            background-color: #f2f4f6;
            color: #000;
            font-family: 'Helvetica', Arial, sans-serif;
        }

        table {
            width: 600px;
            max-width: 600px;
            margin: auto;
            background-color: #fff;
        }

        img {
            display: block;
            margin: auto;
            height: 85px;
            width: 250px;
        }

        p {
            font-size: 15px;
            line-height: 24px;
            margin: 0 0 15px;
        }

        h1 {
            font-size: 22px;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }

        ul li {
            font-size: 15px;
            margin-bottom: 10px;
        }

        code {
            background-color: #f2f2f2;
            padding: 2px 4px;
            border-radius: 4px;
            font-family: monospace;
        }

        a {
            color: #0066cc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .footer {
            background-color: #22273E;
            color: #fff;
            text-align: center;
            padding: 30px;
        }

        .footer a {
            color: #fff;
            text-decoration: underline;
        }

        .signature {
            text-align: left;
            margin-top: 50px;
        }

        .signature h4 {
            font-size: 20px;
            font-weight: 600;
            margin: 10px 0 0;
        }
    </style>
</head>

<body>
    <div>

        <!-- Logo -->
        <table>
            <tr>
                <td style="padding-top: 15px;">
                    <img src="<%= image_logo %>" alt="Logo">
                </td>
            </tr>
        </table>

        <!-- Content Section -->
        <table>
            <tr>
                <td style="padding: 30px;">

                    <p>The form is attached in the following formats:</p>
                    <ul>
                        <li>PDF</li>
                        <li>XML</li>
                    </ul>

                    <p>You can download the submitted form files (PDF and XML) by clicking the links below:</p>

                    <ul>
                        <li>
                            <a href="<%= xml_link %>" download>
                                <code><%= xml_link_file_name %></code>
                            </a>
                        </li>
                        <li>
                            <a href="<%= pdf_link %>" download>
                                <code><%= pdf_link_file_name %></code>
                            </a>
                        </li>
                    </ul>

                    <div class="signature">
                        <p>Thank You,</p>
                        <h4>Krakka Team</h4>
                    </div>

                </td>
            </tr>
        </table>

        <!-- Footer -->
        <table class="footer">
            <tr>
                <td>
                    <p>Need More Help?</p>
                    <a href="#">We are here to help you out</a>
                </td>
            </tr>
        </table>

    </div>
</body>

</html>
